* {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.75); /* Black w/ opacity */
}
.popup{
    display: none;
}

.popup-prize{
    background: lightgrey;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    /*margin-top: 2000px;*/
    width: 400px;
    height: 100px;
    animation: popup-prize 0.6s;
}

@keyframes popup-prize {
0%{
    transform: scale(0);
    opacity: 0;
}
100%{
    transform: scale(1);
    opacity: 1;
}
}

h2 {
    color: black;
}

/* Modal Content */
.modal-content {
    background: whitesmoke;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    animation: modal-content 0.6s;
}

@keyframes modal-content {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
.list_prize:hover {
    color:#b70d32;
    font-size: 30px;
    transition-duration: 500ms;
}


hr{
    height: 3px;
    background: #53535a
    /*background-color: #44c5DE*/
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #cb4545;
    text-decoration: none;
    cursor: pointer;
}

#myBtn {
    width: 150px;
    height: 70px;
    background-color: white;
    color: black;
    border: 2px solid red;
    border-radius: 8px;
}

#myBtn:hover {
    color:white;
    border: 2px solid #53535a;
    font-size: 20px;
    background-color: red;
    transition-duration: 400ms;
    cursor: pointer;
}

