table {
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
}

.tablehead{
  background: #dddddd;
  border-bottom: 2px solid #000000;
}

th, td{
  border: 1px solid #adadad !important;
}

.tablebody tr:nth-child(uneven){
  background: #ffffff;
}
.tablebody tr:nth-child(even){
  background: #e9e9e9;
}